/* Здесь пишем свои стили */
.scrp{
    height: 1px;
    background-color: red;
    width: 10px;
}
footer {
    position: fixed;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #EECB33;
    font-size: 15px;
    bottom: 100px;
    right: 100px;
    border-radius:30%;
    opacity: 0;
    transition: opacity 1s;   
}
.vis{
    opacity: 1;
}
.disactive{
    color: black;
}
.active{
    color: red;
}
.invisible{
    opacity: 0;
}
.classic{
    margin-bottom: 200px;
}